version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo_product_platform
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
